<title>ИКС ОНПУ</title>

<ng-include class="header--fixed" src="'components/partials/header.html'"></ng-include>

<div class="homeSliderWrapper changeable-onMenuOpen">
	<div class="homeSlider">
		<div id="{{slide._id}}" style="background-image: url( {{slide.bgImg.url}} )" class="homeSlider-item" ng-repeat="slide in slides">
			<div class="homeSlider-itemContent valign-wrapper">
				<div class="valign">
					<h1 class="homeSlider-title"> <span>{{slide.title}}</span> </h1>
					<h2 class="homeSlider-subTitle"> <span>{{slide.subtitle}}</span> </h2>
					<h3 class="homeSlider-keyWordTitle" style="color: {{slide.keyWordTitle.color}}"> <span>{{slide.keyWordTitle.text}}</span> </h3>

					<a href="{{slide.btn.href}}" style="background: {{slide.btn.bgColor}}" class="homeSlider-btn btn waves-effect waves-light"> <span>{{slide.btn.text}}</span> </a>

					<div ng-if="">
						<div class="homeSlider-event">
							<span class="homeSlider-eventStatus">Скоро: </span>
							<a href="" class="homeSlider-eventLink"> <span> Відкриття 15-ї обласної науково-практичної конференції Одеського територіального відділення Малої академії наук </span> </a>
						</div>
						<div class="homeSlider-event">
							<span class="homeSlider-eventStatus">Недавнее событие: </span>
							<a href="" class="homeSlider-eventLink"> <span> Отчёт об конференции по Python в рамках ICS IT-School ( + фото) </span> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container l-950 m-full changeable-onMenuOpen">
	<h3 class="main-title upper"> <span>Новости</span> </h3>

	<div class="newsBlock row">
		<div class="actionStatus black-text center-align">{{actionStatus}}</div>
		<div ng-repeat="new in news" class="col l6 m6 s12 post-wrapper" id="post-{{new._id}}">
			<div class="card post">
				<div class="post-image">
					<img src="{{new.coverImg}}" alt="">
					<div class="post-imageContent valign-wrapper">
						<h3 class="post-title valign"> 
							<a href="">
								<span ng-if="new.eventData" class="label">
									<span>Event <i class="material-icons">event</i></span>
								</span>
								<span ng-if="new.eventData" class="event-dateAndPlace">
									<span>{{new.eventData.date | date:'dd.MM.yyyy, HH:mm EEEE'}}, {{new.eventData.place}}</span>
								</span>
								<span>{{new.title}}</span>
							</a>
						</h3>
					</div>
				</div>

				<div class="authorBlock">
					<a class="authorBlock-img" href="">
						<img src="/uploads/img/user-logo-small.jpg" alt="">
					</a>
					<div class="authorBlock-authorAndDate">
						<a class="authorBlock-name" href="https://vk.com/producedbysoul">
							<span> Алексей Чалый </span>
						</a>
						<span class="authorBlock-date" href="">
							<span> {{new.creationDate | date:'dd MMM, HH:mm'}} </span>
						</span>
					</div>

					<button ng-focus="ui.toggleClass('dropdown-' + new._id, 'active')" ng-blur="ui.toggleClass('dropdown-' + new._id, 'active', 100)" class="authorBlock-moreBtn waves-effect waves-light">
						<i class="material-icons"> more_vert </i>

						<ul id="dropdown-{{new._id}}" class="dropdownContent">
							<li> <a href="/#/post?post_id={{new._id}}"> <span> Читать далее </span> </a> </li>
							<li ng-click="deletePost(new._id, loggedUser.token)" ng-if="loggedUser.role==='admin' || loggedUser.role==='moderator'"> <span> Удалить новость </span> </li>
						</ul>
					</button>
				</div>

				<div class="card-content">
					<div class="text-preview clearfix">
						<div class="post-tags">
							<span ng--repeat="tag in new.tags" class="post-tag"> <span>#{{tag}}</span> </span>
						</div>
						<div ng-repeat="part in new.parts">{{part}}</div>
					</div>
				</div>

				<div ng-if="" class="likeAndComments">
					<div class="shareBlock txt-light">
						<i class="material-icons"> share </i>
						<span> Поделились </span>
						<span class="txt-bold"> 105 </span>
					</div>

					<button class="btnComments"> <span>Комментарии (3)</span> </button>
				</div>

				<div class="card-controls">
					<a href="{{new.eventData.registrationLink}}" ng-if="new.eventData" class="card-controls-btn btn-half waves-effect waves-light"> <span>Записаться на событие</span> </a>
					<a href="/#/post?post_id={{new._id}}" ng-class="{'btn-half': new.eventData}" class="card-controls-btn btn-white  waves-effect waves-light"> <span>Читать далее</span> </a>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="false" class="container l-950 m-full changeable-onMenuOpen">
	<h3 class="main-title upper"> <span> Последние Новости</span> </h3>
	
	<div class="newsBlock homeNews row">
		<div class="col l6 m6 s12 posts-wrapper">
			<h4 class="main-subtitle"> <span>Новости ИКСа</span> </h4>

			<div class="card post">
				<div class="post-image">
					<img src="/uploads/img/img-10.jpg">
					<div class="post-imageContent valign-wrapper">
						<h3 class="post-title valign"> 
							<a href="">
								<span class="label">
									<span>Event <i class="material-icons">event</i></span>
								</span>
								<span class="event-dateAndPlace">
									<span>12.03.2017, 18:00 ЧТ, Одесса, ул. Генуезская, 12, 3-й этаж, офис 307а</span>
								</span>
								<span>Відкриття 15-ї обласної науково-практичної конференції Одеського територіального відділення Малої академії наук</span>
							</a>
						</h3>
					</div>
				</div>

				<div class="authorBlock">
					<a class="authorBlock-img" href="">
						<img src="/uploads/img/user-logo-small.jpg" alt="">
					</a>
					<div class="authorBlock-authorAndDate">
						<a class="authorBlock-name" href="">
							<span> Алексей Чалый </span>
						</a>
						<span class="authorBlock-date" href="">
							<span> 1 ноя в 22:22 </span>
						</span>
					</div>

					<button class="authorBlock-moreBtn waves-effect waves-light">
						<i class="material-icons"> more_vert </i>
					</button>
				</div>

				<div class="card-content">
					<div class="text-preview clearfix">
						<div class="post-tags">
							<span class="post-tag"> <span>#event</span> </span>
							<span class="post-tag"> <span>#ics</span> </span>
						</div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>

				<div class="likeAndComments">
					<div class="shareBlock txt-light">
						<i class="material-icons"> share </i>
						<span> Поделились </span>
						<span class="txt-bold"> 105 </span>
					</div>

					<button class="btnComments"> <span>Комментарии (3)</span> </button>
				</div>

				<div class="card-controls">
					<button class="card-controls-btn btn-half waves-effect waves-light"> <span>Записаться на событие</span> </button>
					<button class="card-controls-btn btn-half btn-white  waves-effect waves-light"> <span>Читать далее</span> </button>
				</div>
			</div>

			<div class="card post">
				<div class="post-image">
					<img src="/uploads/img/img-11.jpg">
					<div class="post-imageContent valign-wrapper">
						<h3 class="post-title valign"> 
							<a href="">
								<span>Відкриття 15-ї обласної науково-практичної конференції Одеського територіального відділення Малої академії наук</span>
							</a>
						</h3>
					</div>
				</div>

				<div class="authorBlock">
					<a class="authorBlock-img" href="">
						<img src="/uploads/img/user-logo-small.jpg" alt="">
					</a>
					<div class="authorBlock-authorAndDate">
						<a class="authorBlock-name" href="">
							<span> Алексей Чалый </span>
						</a>
						<span class="authorBlock-date" href="">
							<span> 1 ноя в 22:22 </span>
						</span>
					</div>

					<button class="authorBlock-moreBtn waves-effect waves-light">
						<i class="material-icons"> more_vert </i>
					</button>
				</div>

				<div class="card-content">
					<div class="text-preview clearfix">
						<div class="post-tags">
							<span class="post-tag"> <span>#ics</span> </span>
						</div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>

				<div class="likeAndComments">
					<div class="shareBlock txt-light">
						<i class="material-icons"> share </i>
						<span> Поделились </span>
						<span class="txt-bold"> 105 </span>
					</div>

					<button class="btnComments"> <span>Комментарии (3)</span> </button>
				</div>

				<div class="card-controls">
					<button class="card-controls-btn btn-white  waves-effect waves-light"> <span>Читать далее</span> </button>
				</div>
			</div>
		</div>


		<div class="col l6 m6 s12 posts-wrapper">
			<h4 class="main-subtitle"> <span>Новости Технологий</span> </h4>

			<div class="card post">
				<div class="post-image">
					<img src="/uploads/img/img-7.jpg">
					<div class="post-imageContent valign-wrapper">
						<h3 class="post-title valign"> 
							<a href="">
								<span>Відкриття 15-ї обласної науково-практичної конференції Одеського територіального відділення Малої академії наук</span>
							</a>
						</h3>
					</div>
				</div>

				<div class="authorBlock">
					<a class="authorBlock-img" href="">
						<img src="/uploads/img/user-logo-small.jpg" alt="">
					</a>
					<div class="authorBlock-authorAndDate">
						<a class="authorBlock-name" href="">
							<span> Алексей Чалый </span>
						</a>
						<span class="authorBlock-date" href="">
							<span> 1 ноя в 22:22 </span>
						</span>
					</div>

					<button class="authorBlock-moreBtn waves-effect waves-light">
						<i class="material-icons"> more_vert </i>
					</button>
				</div>

				<div class="card-content">
					<div class="text-preview clearfix">
						<div class="post-tags">
							<span class="post-tag"> <span>#it</span> </span>
						</div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>

				<div class="likeAndComments">
					<div class="shareBlock txt-light">
						<i class="material-icons"> share </i>
						<span> Поделились </span>
						<span class="txt-bold"> 105 </span>
					</div>

					<button class="btnComments"> <span>Комментарии (3)</span> </button>
				</div>

				<div class="card-controls">
					<button class="card-controls-btn btn-white  waves-effect waves-light"> <span>Читать далее</span> </button>
				</div>
			</div>

			<div class="card post">
				<div class="post-image">
					<img src="/uploads/img/img-9.jpg">
					<div class="post-imageContent valign-wrapper">
						<h3 class="post-title valign"> 
							<a href="">
								<span>Відкриття 15-ї обласної науково-практичної конференції Одеського територіального відділення Малої академії наук</span>
							</a>
						</h3>
					</div>
				</div>

				<div class="authorBlock">
					<a class="authorBlock-img" href="">
						<img src="/uploads/img/user-logo-small.jpg" alt="">
					</a>
					<div class="authorBlock-authorAndDate">
						<a class="authorBlock-name" href="">
							<span> Алексей Чалый </span>
						</a>
						<span class="authorBlock-date" href="">
							<span> 1 ноя в 22:22 </span>
						</span>
					</div>

					<button class="authorBlock-moreBtn waves-effect waves-light">
						<i class="material-icons"> more_vert </i>
					</button>
				</div>

				<div class="card-content">
					<div class="text-preview clearfix">
						<div class="post-tags">
							<span class="post-tag"> <span>#it</span> </span>
						</div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>

				<div class="likeAndComments">
					<div class="shareBlock txt-light">
						<i class="material-icons"> share </i>
						<span> Поделились </span>
						<span class="txt-bold"> 105 </span>
					</div>

					<button class="btnComments"> <span>Комментарии (3)</span> </button>
				</div>

				<div class="card-controls">
					<button class="card-controls-btn btn-white  waves-effect waves-light"> <span>Читать далее</span> </button>
				</div>
			</div>
		</div>
	</div>	

</div>