<div id="nav-menu" class="nav-menu">
	<div class="nav-menu__mob-header clearfix">
		<button ng-click="ui.toggleMenu()" class="menu-toggler waves-effect waves-light">
			<i class="material-icons white-text"> menu </i>
		</button>
		<a href="/#/home" class="brand-logo">
			<img src="uploads/img/site/ics-logo-skyBlue--no-border.png" width=40 height="auto" />
		</a>
		<h3 class="mob-header-title">
			<span> ИКС </span>
		</h3>
		<button ng-click="ui.toggleMenu()" class="arrow-right waves-effect waves-light">
			<i class="material-icons white-text"> chevron_right </i>
		</button>
	</div>

	<div class="nav-menu__item">
		<a href="/#/home"> <span>Главная</span> </a>
	</div>

	<div class="nav-menu__item">
		<a href="/#/users"> <span>Поиск людей</span> </a>
	</div>
	<div class="nav-menu__item">
		<a href="/#/news"> <span>Новости</span> </a>
	</div>

	<div ng-if="!loggedUser.role" class="nav-menu__item">
		<a href="/#/login"> <span>Войти</span> </a>
	</div>

	<div ng-click="logout(loggedUser.token)" ng-if="loggedUser.role" class="nav-menu__item">
		<span>Выйти</span>
	</div>

	<div ng-if="loggedUser.role" class="nav-menu__item">
		<div class="loggedUser">
			<a class="loggedUser-img" href="/#/admin">
				<img ng-if="loggedUser.imgUrl" src="{{loggedUser.imgUrl}}" alt="">
			</a>
		</div>
	</div>
</div>