<title>{{user.name}} {{user.surName}}</title>

<ng-include class="" src="'components/partials/header.html'"></ng-include>

<div class="container l-950 m-full changeable-onMenuOpen">
	<div class="page userPage card">
		<div class="narrowColumnWrapper">
			<div class="narrowColumn">
				<a class="page-photo" href="">
					<img ng-src="{{user.imgUrl}}" alt="">
				</a>
			</div>
		</div>

		<div class="wideColumnWrapper">
			<div class="wideColumn">

				<h4 class="page-name">
					<span> {{user.name}} {{user.secondName}} {{user.surName}}
						<i ng-if="user.verified === true" class="material-icons">verified_user</i>
					 </span>
				</h4>
				
				<div ng-if="user.city" class="page-param">
					<span> Город: </span>
					<span class="param-value"> {{user.city}} </span>
				</div>

				<div ng-if="user.job.resume.link" class="page-param">
					<span> Резюме: </span>
					<a class="param-value" href="{{user.job.resume.link}}">
						<span ng-if="user.job.resume.title"> {{user.job.resume.title}} </span>
						<span ng-if="!user.job.resume.title"> {{user.job.resume.link}} </span>
					</a>
				</div>
				
				<div ng-if="user.job.company" class="page-param">
					<span> Работаю в компании: </span>
					<span class="param-value"> {{user.job.company}} </span>
				</div>
				
				<div ng-if="user.job.position" class="page-param">
					<span> Должность: </span>
					<span class="param-value"> {{user.job.position}} </span>
				</div>
				
				<div ng-if="user.job.skills[0]" class="page-param">
					<span> Навыки: </span>
					<span class="param-value" ng-repeat="skill in user.job.skills">
						{{skill}} <span ng-if="$index < user.job.skills.length - 1">&#8226;</span>
					</span>
				</div>

				<ul class="collapsible clearfix" data-collapsible="expandable">
				    <li>
						<div class="collapsible-header txt-semibold">
							<!-- <i class="material-icons">more_horiz</i> -->
							Подробная информация
						</div>
						<div class="">
							<div class="page-paramSection" ng-if="user.visibleContacts.skype || user.visibleContacts.phone || user.visibleContacts.email">
								<h5 class="page-paramSectionTitle"> <span>Контактные данные</span> </h5>

								<div class="page-param" ng-if="user.visibleContacts.skype && user.contacts.skype">
									<span> Skype: </span>
									<span class="param-value">
										{{user.contacts.skype}}
									</span>
								</div>

								<div class="page-param" ng-if="user.visibleContacts.phone && user.contacts.phone">
									<span> Телефон: </span>
									<span class="param-value">
										{{user.contacts.phone}}
									</span>
								</div>

								<div class="page-param" ng-if="user.visibleContacts.email && user.contacts.email">
									<span> Почта: </span>
									<span class="param-value">
										{{user.contacts.email}}
									</span>
								</div>
							</div>

							<div class="page-paramSection" ng-if="user.educations[0]">
								<h5 class="page-paramSectionTitle"> <span> Образование </span> </h5>

								<div ng-repeat="education in user.educations">
									<div class="page-param" ng-if="education.status">
										<span> Статус: </span>
										<span class="param-value">
											{{education.status}}
										</span>
									</div>

									<div class="page-param" ng-if="education.university">
										<span> Вуз: </span>
										<span class="param-value">
											{{education.university}}
										</span>
									</div>

									<div class="page-param" ng-if="education.institute">
										<span> Институт: </span>
										<span class="param-value">
											{{education.institute}}
										</span>
									</div>

									<div class="page-param" ng-if="education.department">
										<span> Специальность, направление: </span>
										<span class="param-value">
											{{education.department}}
										</span>
									</div>
								</div>
							</div>

							<div class="page-paramSection" ng-if="user.visibleContacts.skype || user.visibleContacts.phone || user.visibleContacts.email">
								<!-- <h5 class="page-paramSectionTitle"> <span> Заголовок секции информации </span> </h5> -->

								<div ng-if="user.personalDatails.hobbies[0]" class="page-param">
									<span> Увлечения: </span>
									<span class="param-value" ng-repeat="hobby in user.personalDatails.hobbies">
										{{hobby}}<span class="comaDevider" ng-if="$index < user.personalDatails.hobbies.length - 1">,</span>
									</span>
								</div>
							</div>

							<div class="page-paramSection" ng-if="user.personalDatails.aboutMyself">
								<h5 class="page-paramSectionTitle"> <span> О себе</span> </h5>

								<div class="page-param" ng-if="user.visibleContacts.email && user.contacts.email">
									<span class="param-value txt-regular">
										{{user.personalDatails.aboutMyself}}
									</span>
								</div>

								<div class="page-param" ng-if="user.visibleContacts.email && user.contacts.email">
									<span class="param-value txt-regular">
										{{user.personalDatails.aboutMyself}}
									</span>
								</div>
							</div>

						</div>
				   </li>
				 </ul>

			</div>
		</div>
	</div>
</div>