<title>Поиск людей</title>

<h3 class="main-title"> <span>Поиск людей</span> </h3>

<div class="container">
	<div class="row">
		<div class="col l12 m12 s12 post-wrapper">
			<div class="card">
				<div class="card-content">
					<h4 class="card-headerTitle">
						<!-- <span ng-if="users.length === 1"> Найден </span>
						<span ng-if="users.length !== 1"> Найдено </span>
						<span>{{users.length}}</span>
						<span ng-if="users.length >= 2 && users.length <= 4"> человека </span>
						<span ng-if="users.length < 2 || users.length > 4"> человек </span> -->
						<span> Найдено людей: {{(users|filter:searchQuery).length}}</span>
					</h4>
					<div class="card-headerInput">
						<label for="searchInput">
							<span>Введите один из параметров: имя, фамилия, группа, компания, год поступления, год выпуска, город, год рождения, возраст, пол </span>
						</label>
						<span ng-init="searchQuery = ''"></span>
						<input ng-model="searchQuery" id="searchInput" type="text" placeholder="Найти одногруппника...">
						{{searchQuery}}
					</div>

					<div ng-repeat="user in users|filter:searchQuery" class="userPreview">
						<a class="userPreview-img" href="">
							<img src="/uploads/img/user-logo-small.jpg" alt="">
						</a>
						<div class="userPreview-info">
							<a class="userPreview-name" href="">
								<span> {{user.name}} {{user.surname}} </span>
							</a>
							<div class="userPreview-param">
								<span> Город: </span>
								<span class="param-value"> {{user.city}} </span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>