<title>Поиск людей</title>

<ng-include class="skyBlue" src="'components/partials/header.html'"></ng-include>

<div class="container changeable-onMenuOpen">
	<h3 class="main-title"> <span>Поиск людей</span> </h3>
	<div class="row">
		<div class="col l12 m12 s12 post-wrapper">
			<div class="card">
				<div class="card-content">
					<h4 class="card-headerTitle">
						<!-- <span ng-if="users.length === 1"> Найден </span>
						<span ng-if="users.length !== 1"> Найдено </span>
						<span>{{users.length}}</span>
						<span ng-if="users.length >= 2 && users.length <= 4"> человека </span>
						<span ng-if="users.length < 2 || users.length > 4"> человек </span> -->
						<span> Найдено людей: {{(users|filter:searchQuery).length}}</span>
					</h4>
					<div class="card-headerInput">
						<label for="searchInput">
							<span>Введите один из параметров: профессиональные навыки, имя, фамилия, группа, компания, год поступления, год выпуска, город, год рождения, возраст </span>
						</label>
						<span ng-init="searchQuery = ''"></span>
						<input ng-model="searchQuery" id="searchInput" type="text" placeholder="Найти человека...">
					</div>

					<div ng-repeat="user in users|filter:searchQuery" class="userPreview">
						<a class="userPreview-img" href="">
							<img src="{{user.imgUrl}}" alt="">
						</a>
						<div class="userPreview-info">
							<a class="userPreview-name" href="">
								<span> {{user.name}} {{user.secondName}} {{user.surName}}
									<i ng-if="user.verified === true" class="material-icons">verified_user</i>
								 </span>
							</a>
	
							<div ng-if="user.city" class="userPreview-param">
								<span> Город: </span>
								<span class="param-value"> {{user.city}} </span>
							</div>

							<div ng-if="user.job.resume.link" class="userPreview-param">
								<span> Резюме: </span>
								<a class="param-value" href="{{user.job.resume.link}}">
									<span ng-if="user.job.resume.title"> {{user.job.resume.title}} </span>
									<span ng-if="!user.job.resume.title"> {{user.job.resume.link}} </span>
								</a>
							</div>
	
							<div ng-if="user.job.company" class="userPreview-param">
								<span> Компания: </span>
								<span class="param-value"> {{user.job.company}} </span>
							</div>
	
							<div ng-if="user.job.position" class="userPreview-param">
								<span> Должность: </span>
								<span class="param-value"> {{user.job.position}} </span>
							</div>
	
							<div ng-if="user.job.skills[0]" class="userPreview-param">
								<span> Навыки: </span>
								<span class="param-value" ng-repeat="skill in user.job.skills">
									{{skill}} <span ng-if="$index < user.job.skills.length - 1">&#8226;</span>
								</span>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>