// colors
$greenLight: #ccff90; // title 'Интеллект'
$green: #64dd17; // button 'News ICS'

$yelloLight: #f4ff81; // title 'Квалификация'
$orange: #ffab00; // button 'Search Groupmates'

$marineLight: #b9f6ca; // title 'Совершенство'
$skyBlue: #0091ea; // button 'News IT'

// others
$btn-height: 37px;