// colors
$greenLight: #ccff90; // title 'Интеллект'
$green: #64dd17; // button 'News ICS'

$limeLight: #f4ff81; // title 'Квалификация'
$lime: #aeea00; // button 'Search Groupmates'

$marineLight: #b9f6ca; // title 'Совершенство'
$marine: #00c853; // button 'News IT'

// others
$btn-height: 37px;