* {
	font-size: 1em;
	@include box-sizing(border-box);
}

$base-font-size: 16px;
body {
	font-family: Roboto, sans-serif;
	font-size: $base-font-size;
	background-color: #eee;
}
@media (max-width: 320px) {body {font-size: 7px} }
@media (max-width: 568px) {body {font-size: 12px} }

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 1em;
}

body, html {height: 100%;}

.homeSliderWrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.homeSlider {
	// n - amount of slides
	width: 100%; // sliderWrapperWidth * n
	height: 100%;

	position: relative;
	left: 0;

	&-item {
		float: left;
		width: 100%; // sliderWidht / n;
		height: 100%;
		background-image: url(/uploads/img/img-7.jpg); // 4 6 7 8 10 11
		background-size: cover;
	}
	&-itemContent {
		background: rgba(0,0,0, .4);
		width: 100%;
		height: 100%;

		.valign {
			@extend ._center;
			display: table;
		}
	}
	&-title {
		@extend .txt-center, .txt-semibold;
		font-family: Citadina, Roboto, sans-serif;
		color: #fff;
		letter-spacing: 0.8em;
		line-height: 1em;
		margin-bottom: 0.65em;
		text-shadow: 1px 1px 2px rgba(#000, .5);
		span {font-size: 9em;}
	}
	&-subTitle {
		@extend .homeSlider-title;
		letter-spacing: .05em;
		word-spacing: .65em;
		margin-bottom: 3.5em;

		position: relative;
		left: -.25em;

		span {font-size: 1em;}
	}

	&-keyWordTitle {
		@extend .homeSlider-title;
		letter-spacing: .1em;
		margin-bottom: 3.5em;
		color: $greenLight;
		span {font-size: 6em;}
	}

	&-btn:hover {background-color: #00bfa5 !important;}
	&-btn {
		@extend ._center, .txt-bold;
		display: table;
		background-color: $green;
		margin-bottom: 3em;
	}

	&-event {
		@extend .txt-center;
		color: #fff;
		padding: 0 2em .5em;
		line-height: 1.2em;
		span {
			font-size: .85em;
			color: #00e5ff;
			text-shadow: 1px 1px 2px rgba(#000, .5);
		}
	}
	&-eventStatus {
		// extend .txt-bold;
	}
	&-eventLink {
		@extend .txt-bold;
	}
}

.post {
	& .card-content {padding: 0 1.35em;}

	&-image {
		height: 13em;
		overflow: hidden;
		position: relative;

		img {
			height: auto;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
		}
	}
	&-imageContent {
		padding: 0.3em;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, .4);
		text-shadow: 1px 1px 2px rgba(#000, .5);
		position: relative;
		z-index: 1;

		a {color: #fff;}
	}
	&-title {
		@extend .txt-semibold, .txt-center;
		padding: 0 .3em;
		line-height: 1.3em;
		span {font-size: 1.3em;}
	}

	&-tags {
		// padding: 0 1.35em;
	}
	&-tag {
		color: #aaa;
		font-style: italic;
		span {font-size: .8em;}
	}

	.label {
		@extend ._center;
		margin-bottom: .25em;
	}
}

.authorBlock {
	@extend .clearfix;
	padding: .5em 1.35em;
	&-img {
		display: block;
		float: left;
		width: 2.5em;
		height: 2.5em;

		img {
			width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}

	&-authorAndDate {
		float: left;
		padding-left: .6em;
		padding-top: .2em;
	}

	&-name {
		display: block;
		line-height: 1em;
		span {font-size: .85em;}
	}
	&-date {
		display: block;
		color: #aaa;
		line-height: 1em;
		span {font-size: .7em}
	}

	&-moreBtn {
		@extend .reset-for-btn;
		float: right;
		position: relative;
		right: -1em;
		width: 2em;
		height: 2em;
		border-radius: 2em;
		padding: 0;
		&:hover {background: rgba(#000, .2);}

		.material-icons {
			font-size: 1.5em;
			position: relative;
			right: .15em;
			display: table;
			float: right;
		}
	}
}

.likeAndComments {
	padding: .3em 1.35em .5em;
	width: 100;
	height: 2.9em;
	// background: #eee;
	color: #0277bd;
}
.likesBlock {
	float: left;
	.material-icons {font-size: 1.2em; vertical-align: text-bottom;}
	span {font-size: .9em;}
}
.shareBlock {
	float: left;
	.material-icons {font-size: 1.2em; vertical-align: text-bottom;}
	span {font-size: .9em;}
}
.btnComments {
	@extend .reset-for-btn;
	float: right;
	border-bottom: 1px solid #0277bd;
	line-height: 1em;
	position: relative;
	top: .1em;
	span {font-size: .9em;}
}

.event-dateAndPlace {
	@extend .txt-regular;
	display: block;
	margin-bottom: .25em;
	color: #00e5ff;
	span {font-size: .6em;}
}
.card-controls {
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}
.card-controls-btn {
	@extend .main-btn;
	width: 100%;
	border-radius: 0;
	color: #fff;
	float: left;
}
.btn-half {width: 50%;}
.btn-third {width: 33,33333%;}
.btn-white {
	color: #333;
	background: #fff;
}
.btn-white:hover,
.btn-white:focus {background: #eee;}

.label {
	padding: .2em 1em;
	display: table;
	background: #0091ea;
	text-shadow: none;
	border-radius: 30px;
	text-transform: uppercase;
	span {
		font-size: .8em;
		position: relative;
		top: -1px;
	}
	.material-icons {
		vertical-align: text-bottom;
		position: relative;
		top: 2px;
	}
}



.card-headerTitle {
	@extend .txt-semibold;
	color: #333;
	padding-bottom: .85em;
	border-bottom: 1px solid #cecece;
	span {font-size: 1.2em;}
}

.card-headerInput {
	padding-top: 1em;

	label {
		display: block;	
		margin-bottom: .5em;
		span {font-size: 1.2em;}
	}
	input {
		@include box-sizing(border-box);
		padding-left: 1em;
		padding-right: 1em;
		margin: 0;
		border-bottom: none;
		background: #eee;
		&:focus {background: #fff;}
	}
}

.userPreview {
	@extend .clearfix;
	position: relative;
	margin-top: 1.4em;
	padding-top: 1em;
	border-bottom: 1px solid #cecece;
	padding-bottom: 1em;

	&-img {
		position: absolute;
		top: 1em;
		left: 0;
		display: block;
		float: left;
		width: 3.5em;
		height: 3.5em;

		img {
			width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}

	&-info {
		width: 100%;
		padding-left: 4.3em;
	}

	&-name {
		display: block;
		line-height: 1em;
		padding-bottom: .8em;

		span {font-size: 1.2em;}
	}

	&-param {
		line-height: 1em;
		padding-bottom: .5em;

		span {
			font-size: .85em;
			color: #aaa;
		}
		.param-value {	
			@extend .txt-semibold;
			color: #333;
		}
		a.param-value {	
			color: #333;
		}
	}
}

/* Page */
.page {
	@extend ._center;
	display: table;

	&.userPage {
		.post {
			margin-bottom: 1.5em;
			border-bottom: 1px solid #eee;
		}
	}

	&.card {
		@extend .clearfix;
		padding: 1em;
		margin-top: 1em;

		.authorBlock,
		.likeAndComments,
		.card-content {
			padding-left: 0;
			padding-right: 0;
		}
		.authorBlock {padding-right: .5em;}
	}
	.collapsible {
		box-shadow: none;
		&,
		&-header,
		&-body {
			border: none;
			padding: 0;
		}

		&-body {
			line-height: 1.3em;
			p {padding: 0;}
			p span {font-size: .9em;}
		}
		.material-icons {color: $skyBlue;}
	}

	.narrowColumnWrapper {
		// border: 1px solid #aaa;
		width: 13em;
		float: left;
	}
	.narrowColumn {
		width: 100%;
	}

	.wideColumnWrapper {
		// border: 1px solid #aaa;
		width: 33em;
		float: left;
		padding-left: 1em;
	}
	.wideColumn {
		width: 100%;
	}

	&-photo {
		display: block;
		width: 100%;
		float: left;

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 3px;
		}
	}

	a {cursor: pointer;}

	&-name {
		@extend .txt-semibold;
		display: block;
		line-height: 1em;
		padding-bottom: .8em;
		margin-bottom: .8em;
		border-bottom: 1px solid #e5e5e5;

		span {font-size: 1.4em;}
	}

	&-param {
		line-height: 1em;
		padding-bottom: .4em;

		span {
			font-size: .75em;
			color: #aaa;
		}
		.param-value {	
			@extend .txt-semibold;
			color: #333;
		}
		a.param-value {	
			color: #333;
		}
	}

	&-title {
		@extend .txt-semibold;
		line-height: 1em;
		padding-bottom: .8em;
		margin-bottom: 1.2em;
		border-bottom: 1px solid #e5e5e5;

		span {font-size: 1.2em;}
	}
}
/* end Page */



/* authPage */
.auth-hint {

}
.authPage{
	background-image: url(/uploads/img/img-8.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;

	&-content {
		overflow: auto;
		background-color: rgba(0,0,0, .5);
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 0;
		padding-bottom: 1.5em;
	}

	.main-title {color: $skyBlue-lighten;}
}
/* end authPage */

/* adds to MaterializeCSS */
	.card-secondTitle {
		padding: .5em 0 0;
		color: #333;
		span {font-size: .9em;}
	}

	.card {
		@extend .clearfix;
	}

	// colors
	.skyBlue {
		background-color: $skyBlue;
		&.btn:focus {background: $skyBlue + 20;}
	}
/* end adds to MaterializeCSS */