.reset-for-btn, .main-btn, .card-controls-btn, .authorBlock-moreBtn, .btnComments {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }
  .reset-for-btn:focus, .main-btn:focus, .card-controls-btn:focus, .authorBlock-moreBtn:focus, .btnComments:focus {
    background: transparent; }

._center, .homeSlider-itemContent .valign, .homeSlider-btn, .post .label, .page {
  margin-left: auto;
  margin-right: auto; }

.center-fluid {
  margin-left: auto;
  margin-right: auto;
  display: table; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.txt-center, .main-title, .main-subtitle, .main-btn, .card-controls-btn, .homeSlider-title, .homeSlider-subTitle, .homeSlider-keyWordTitle, .homeSlider-event, .post-title {
  text-align: center; }

.txt-shadow, .main-title, .main-subtitle {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

.txt-light {
  font-weight: 300; }

.txt-regular, .event-dateAndPlace {
  font-weight: 400; }

.txt-semibold, .homeSlider-title, .homeSlider-subTitle, .homeSlider-keyWordTitle, .post-title, .card-headerTitle, .userPreview-param .param-value, .page-name, .page-param .param-value, .page-title {
  font-weight: 500; }

.txt-bold, .main-btn, .card-controls-btn, .homeSlider-btn, .homeSlider-eventLink {
  font-weight: 600; }

.transition, .main-btn, .card-controls-btn {
  transition: .2s; }

.clearfix:after, .authorBlock:after, .userPreview:after, .page.card:after, .card:after {
  content: '';
  display: block;
  clear: both; }

.text-preview {
  height: 197px;
  overflow: hidden;
  position: relative; }

.text-preview:after,
.text-preview:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  box-shadow: 0 0 30px 25px rgba(255, 255, 255, 0.7); }

.text-preview:before {
  box-shadow: 0 0 7px 3px rgba(255, 255, 255, 0.8); }

.main-title {
  color: #0091ea;
  padding: 3.0em 0 1.5em; }
  .main-title span {
    font-size: 3em;
    line-height: 1em; }

.main-subtitle {
  padding: 1em 0 .8em; }
  .main-subtitle span {
    font-size: 1.5em; }

.main-btn, .card-controls-btn {
  background: #0091ea;
  border-radius: 30px;
  padding: .4em .5em;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2em;
  display: table; }
  .main-btn span, .card-controls-btn span {
    font-size: .9em;
    display: inline-block;
    width: 100%; }
  .main-btn:hover, .card-controls-btn:hover {
    background: #14aa9c; }
  .main-btn:focus, .card-controls-btn:focus {
    background: #14a5fe; }

* {
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: #eee; }

@media (max-width: 320px) {
  body {
    font-size: 7px; } }
@media (max-width: 568px) {
  body {
    font-size: 12px; } }
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em; }

body, html {
  height: 100%; }

.homeSliderWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.homeSlider {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0; }
  .homeSlider-item {
    float: left;
    width: 100%;
    height: 100%;
    background-image: url(/uploads/img/img-7.jpg);
    background-size: cover; }
  .homeSlider-itemContent {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%; }
    .homeSlider-itemContent .valign {
      display: table; }
  .homeSlider-title, .homeSlider-subTitle, .homeSlider-keyWordTitle {
    font-family: Citadina, Roboto, sans-serif;
    color: #fff;
    letter-spacing: 0.8em;
    line-height: 1em;
    margin-bottom: 0.65em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    .homeSlider-title span, .homeSlider-subTitle span, .homeSlider-keyWordTitle span {
      font-size: 9em; }
  .homeSlider-subTitle {
    letter-spacing: .05em;
    word-spacing: .65em;
    margin-bottom: 3.5em;
    position: relative;
    left: -.25em; }
    .homeSlider-subTitle span {
      font-size: 1em; }
  .homeSlider-keyWordTitle {
    letter-spacing: .1em;
    margin-bottom: 3.5em;
    color: #ccff90; }
    .homeSlider-keyWordTitle span {
      font-size: 6em; }
  .homeSlider-btn:hover {
    background-color: #00bfa5 !important; }
  .homeSlider-btn {
    display: table;
    background-color: #64dd17;
    margin-bottom: 3em; }
  .homeSlider-event {
    color: #fff;
    padding: 0 2em .5em;
    line-height: 1.2em; }
    .homeSlider-event span {
      font-size: .85em;
      color: #00e5ff;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.post .card-content {
  padding: 0 1.35em; }
.post-image {
  height: 13em;
  overflow: hidden;
  position: relative; }
  .post-image img {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0; }
.post-imageContent {
  padding: 0.3em;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1; }
  .post-imageContent a {
    color: #fff; }
.post-title {
  padding: 0 .3em;
  line-height: 1.3em; }
  .post-title span {
    font-size: 1.3em; }
.post-tag {
  color: #aaa;
  font-style: italic; }
  .post-tag span {
    font-size: .8em; }
.post .label {
  margin-bottom: .25em; }

.authorBlock {
  padding: .5em 1.35em; }
  .authorBlock-img {
    display: block;
    float: left;
    width: 2.5em;
    height: 2.5em; }
    .authorBlock-img img {
      width: 100%;
      height: auto;
      border-radius: 50%; }
  .authorBlock-authorAndDate {
    float: left;
    padding-left: .6em;
    padding-top: .2em; }
  .authorBlock-name {
    display: block;
    line-height: 1em; }
    .authorBlock-name span {
      font-size: .85em; }
  .authorBlock-date {
    display: block;
    color: #aaa;
    line-height: 1em; }
    .authorBlock-date span {
      font-size: .7em; }
  .authorBlock-moreBtn {
    float: right;
    position: relative;
    right: -1em;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    padding: 0; }
    .authorBlock-moreBtn:hover {
      background: rgba(0, 0, 0, 0.2); }
    .authorBlock-moreBtn .material-icons {
      font-size: 1.5em;
      position: relative;
      right: .15em;
      display: table;
      float: right; }

.likeAndComments {
  padding: .3em 1.35em .5em;
  width: 100;
  height: 2.9em;
  color: #0277bd; }

.likesBlock {
  float: left; }
  .likesBlock .material-icons {
    font-size: 1.2em;
    vertical-align: text-bottom; }
  .likesBlock span {
    font-size: .9em; }

.shareBlock {
  float: left; }
  .shareBlock .material-icons {
    font-size: 1.2em;
    vertical-align: text-bottom; }
  .shareBlock span {
    font-size: .9em; }

.btnComments {
  float: right;
  border-bottom: 1px solid #0277bd;
  line-height: 1em;
  position: relative;
  top: .1em; }
  .btnComments span {
    font-size: .9em; }

.event-dateAndPlace {
  display: block;
  margin-bottom: .25em;
  color: #00e5ff; }
  .event-dateAndPlace span {
    font-size: .6em; }

.card-controls {
  border-radius: 0 0 4px 4px;
  overflow: hidden; }

.card-controls-btn {
  width: 100%;
  border-radius: 0;
  color: #fff;
  float: left; }

.btn-half {
  width: 50%; }

.btn-third {
  width: 33,33333%; }

.btn-white {
  color: #333;
  background: #fff; }

.btn-white:hover,
.btn-white:focus {
  background: #eee; }

.label {
  padding: .2em 1em;
  display: table;
  background: #0091ea;
  text-shadow: none;
  border-radius: 30px;
  text-transform: uppercase; }
  .label span {
    font-size: .8em;
    position: relative;
    top: -1px; }
  .label .material-icons {
    vertical-align: text-bottom;
    position: relative;
    top: 2px; }

.card-headerTitle {
  color: #333;
  padding-bottom: .85em;
  border-bottom: 1px solid #cecece; }
  .card-headerTitle span {
    font-size: 1.2em; }

.card-headerInput {
  padding-top: 1em; }
  .card-headerInput label {
    display: block;
    margin-bottom: .5em; }
    .card-headerInput label span {
      font-size: 1.2em; }
  .card-headerInput input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    border-bottom: none;
    background: #eee; }
    .card-headerInput input:focus {
      background: #fff; }

.userPreview {
  position: relative;
  margin-top: 1.4em;
  padding-top: 1em;
  border-bottom: 1px solid #cecece;
  padding-bottom: 1em; }
  .userPreview-img {
    position: absolute;
    top: 1em;
    left: 0;
    display: block;
    float: left;
    width: 3.5em;
    height: 3.5em; }
    .userPreview-img img {
      width: 100%;
      height: auto;
      border-radius: 50%; }
  .userPreview-info {
    width: 100%;
    padding-left: 4.3em; }
  .userPreview-name {
    display: block;
    line-height: 1em;
    padding-bottom: .8em; }
    .userPreview-name span {
      font-size: 1.2em; }
  .userPreview-param {
    line-height: 1em;
    padding-bottom: .5em; }
    .userPreview-param span {
      font-size: .85em;
      color: #aaa; }
    .userPreview-param .param-value {
      color: #333; }
    .userPreview-param a.param-value {
      color: #333; }

/* Page */
.page {
  display: table; }
  .page.userPage .post {
    margin-bottom: 1.5em;
    border-bottom: 1px solid #eee; }
  .page.card {
    padding: 1em;
    margin-top: 1em; }
    .page.card .authorBlock,
    .page.card .likeAndComments,
    .page.card .card-content {
      padding-left: 0;
      padding-right: 0; }
    .page.card .authorBlock {
      padding-right: .5em; }
  .page .collapsible {
    box-shadow: none; }
    .page .collapsible, .page .collapsible-header, .page .collapsible-body {
      border: none;
      padding: 0; }
    .page .collapsible-body {
      line-height: 1.3em; }
      .page .collapsible-body p {
        padding: 0; }
      .page .collapsible-body p span {
        font-size: .9em; }
    .page .collapsible .material-icons {
      color: #0091ea; }
  .page .narrowColumnWrapper {
    width: 13em;
    float: left; }
  .page .narrowColumn {
    width: 100%; }
  .page .wideColumnWrapper {
    width: 33em;
    float: left;
    padding-left: 1em; }
  .page .wideColumn {
    width: 100%; }
  .page-photo {
    display: block;
    width: 100%;
    float: left; }
    .page-photo img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 3px; }
  .page a {
    cursor: pointer; }
  .page-name {
    display: block;
    line-height: 1em;
    padding-bottom: .8em;
    margin-bottom: .8em;
    border-bottom: 1px solid #e5e5e5; }
    .page-name span {
      font-size: 1.4em; }
  .page-param {
    line-height: 1em;
    padding-bottom: .4em; }
    .page-param span {
      font-size: .75em;
      color: #aaa; }
    .page-param .param-value {
      color: #333; }
    .page-param a.param-value {
      color: #333; }
  .page-title {
    line-height: 1em;
    padding-bottom: .8em;
    margin-bottom: 1.2em;
    border-bottom: 1px solid #e5e5e5; }
    .page-title span {
      font-size: 1.2em; }

/* end Page */
/* authPage */
.authPage {
  background-image: url(/uploads/img/img-8.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }
  .authPage-content {
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    padding-bottom: 1.5em; }
  .authPage .main-title {
    color: #00e5ff; }

/* end authPage */
/* adds to MaterializeCSS */
.card-secondTitle {
  padding: .5em 0 0;
  color: #333; }
  .card-secondTitle span {
    font-size: .9em; }

.skyBlue {
  background-color: #0091ea; }
  .skyBlue.btn:focus {
    background: #14a5fe; }

/* end adds to MaterializeCSS */

/*# sourceMappingURL=all.css.map */
